<p id="notice"><%= notice %></p>

<h1>E Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event post</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @e_comments.each do |e_comment| %>
      <tr>
        <td><%= e_comment.user_id %></td>
        <td><%= e_comment.event_post_id %></td>
        <td><%= e_comment.comment %></td>
        <td><%= link_to 'Show', e_comment %></td>
        <td><%= link_to 'Edit', edit_e_comment_path(e_comment) %></td>
        <td><%= link_to 'Destroy', e_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New E Comment', new_e_comment_path %>
