<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @division.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @division.active %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @division.organization_id %>
</p>

<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
