<p id="notice"><%= notice %></p>

<h1>Event Posts</h1>

<table>
  <thead>
    <tr>
      <th>Date created</th>
      <th>Title</th>
      <th>Content</th>
      <th>Event date</th>
      <th>Event time</th>
      <th>Event allday</th>
      <th>Event location</th>
      <th>Division target</th>
      <th>Avatar</th>
      <th>Topic</th>
      <th>Claps</th>
      <th>Clicks</th>
      <th>User</th>
      <th>Division</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_posts.each do |event_post| %>
      <tr>
        <td><%= event_post.date_created %></td>
        <td><%= event_post.title %></td>
        <td><%= event_post.content %></td>
        <td><%= event_post.event_date %></td>
        <td><%= event_post.event_time %></td>
        <td><%= event_post.event_allday %></td>
        <td><%= event_post.event_location %></td>
        <td><%= event_post.division_target %></td>
        <td><%= event_post.avatar %></td>
        <td><%= event_post.topic %></td>
        <td><%= event_post.claps %></td>
        <td><%= event_post.clicks %></td>
        <td><%= event_post.user_id %></td>
        <td><%= event_post.division_id %></td>
        <td><%= link_to 'Show', event_post %></td>
        <td><%= link_to 'Edit', edit_event_post_path(event_post) %></td>
        <td><%= link_to 'Destroy', event_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Post', new_event_post_path %>
